@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');


body {
  font-family: 'Noto Serif JP', sans-serif;
  margin: 0px;
}

.top {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 10%;
}
.top h2 {
  font-size: 50px;
}

.staff {
  text-align: center;
  position: relative;
  z-index: 9999;
  padding-top: 150px;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
  padding-top: 10px;
  font-size: 25px;
}

.staff a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
